<div class="row">
  <ui-gmap-google-map center="mapConfig.center" zoom="mapConfig.zoom">
    <ui-gmap-markers models="events" coords="'coords'" icon="'icon'">
      <ui-gmap-windows show="'display'">
        <div ng-non-bindable>
          <h3>{{ event.title }}</h3>
          <p>{{ event.description }}</p>
          <p>Creator: {{ event.creator.username }}</p>
          <p>Starting at: {{ event.start_time }}</p>
        </div>
      </ui-gmap-windows>
    </ui-gmap-markers>
  </ui-gmap-google-map>
</div>
