<div class="row panel">

  <div class="col-md-4">
    <div ng-if="event.title">
      <h2>{{ event.title }}</h2>
    </div>

    <p>{{ event.description }}</p>

    <p>Start time: {{ event.start_time }}</p>

    <p>Creator: {{ event.creator.username }}</p>

    <div>
      Participants:
      <ul>
        <li ng-repeat="participant in event.participants">{{ participant.username }}</li>
      </ul>
    </div>

    <div ng-controller="SessionsController">
      <div ng-if="isSinged() && !profile.participating(event)">
        <button ng-click="joinEvent()" class="btn btn-success navbar-btn">Join!</button>
      </div>
    </div>
  </div>

  <ui-gmap-google-map center="mapConfig.center" zoom="mapConfig.zoom">
    <ui-gmap-marker
      coords="event.coords"
      idkey="event.id"
      options = "event.options">
    </ui-gmap-marker>
  </ui-gmap-google-map

</div>
