<div class="row panel">
  <h2>{{ profile.username }}</h2>

  <p>Email: {{ profile.email }}</p>

  <div ng-if="!profile.started_events.length">
    <p>You haven't started any events yet! Fix that <a href="#/events/new">here</a></p>
  </div>
  <div ng-if="profile.started_events.length">
    <h3>Started events:</h3>
    <ul>
      <li ng-repeat="event in profile.started_events">
        <div ng-if="event.title">
          {{ event.title }}
        </div>
        <div ng-if="!event.title">
          {{ event.description }}
        </div>
      </li>
    </ul>
  </div>
</div>
